
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/CustomLaout.cshtml";
}

<section class="wedo py-5">
    <div class="container py-lg-5">
        <div class="text-center">
            <h3 class="w3_head">Integer porttitor mollisar lorem, at molestie arcu </h3>
            <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum Proin ac fermentum est. Cras mi ipsum, </p>
        </div>
    </div>
</section>

